name: Auto Merge Release PR

on:
  pull_request:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  auto-merge:
    # Only run for the "Version Packages" PR created by Changesets
    if: startsWith(github.head_ref, 'changeset-release/')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Merge PR
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: |
          gh pr review --approve "${{ github.event.pull_request.html_url }}"
          gh pr merge --squash --auto "${{ github.event.pull_request.html_url }}"
